body{
  background-color: #333;
  color: #fff; /* Textfarbe auf Weiß für bessere Lesbarkeit */
  margin: 0; /* Entfernt den Standardmargin des body-Elements */
  padding: 0; /* Entfernt den Standardpadding des body-Elements */
}
.quiz {
  text-align: center;
  background-color: #333; /* Dunkelgrau als Hintergrundfarbe */
}
.start-button {
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  padding: 15px;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
}

/* Frage-Container */
.question {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 24px; /* Passen Sie die Schriftgröße nach Bedarf an */
}

/* Bild */
img {
  max-width: 1200px;
  max-height: 430px;
  width: auto;
  height: auto;
}

/* Antwortcontainer */
.answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

/* Antwort-Stile */
.answer {
  padding: 10px;
  border: 2px solid #4caf50;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #4caf50;
  color: #fff;
}

.answer:hover {
  background-color: #1c6820;
}

.correct-answer {
  background-color: #33e43c;
}

.wrong-answer {
  background-color: #ff3333;
}

.disabled-answer {
  pointer-events: none;
  opacity: 0.7;
}

/* Ergebnisse-Stile */
.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% der Bildschirmhöhe nutzen */
}

.congratulations {
  font-size: 50px; /* Passen Sie die Schriftgröße nach Bedarf an */
  font-weight: bold;
  color: #4caf50;
}

.results-info {
  margin-top: 10px;
  font-size: 20px; /* Passen Sie die Schriftgröße nach Bedarf an */
}

.next-button {
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  padding: 15px; /* Passen Sie die Polsterung nach Bedarf an */
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  font-size: 20px; /* Passen Sie die Schriftgröße nach Bedarf an */
}

.next-button:hover {
  background-color: #45a049;
}

/* Timer-Stile */
.timer {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
}

/* Stile für den Start-Button */
.start-button {
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  flex-direction: column;

}

.start-button:hover {
  background-color: #45a049;
}

.leaderboard {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.leaderboard > div {
  margin-bottom: 8px;
}