@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply bg-emerald-800 text-white text-xl px-3 py-2 font-bold rounded-md;
}

/* PopOut Menu */
.menu button {
  @apply bg-[#4caf50] text-white p-5 mt-32 w-52 rounded-lg
}

.menuCode {
  @apply bg-gray-900 opacity-0 invisible transition-all flex p-3 mt-1 justify-center border-2 rounded-md w-96 ml-auto mr-auto
}

.menuCode.show-menu {
  @apply opacity-100 visible
}

.link {
  @apply p-2 rounded-full flex
}

.link:hover {
  @apply bg-gray-800 cursor-pointer
}

#copySymbol {
  width: 18px;
  height: 20px;
  filter:invert(95%);
  margin-left: 4px;
  transition: 0.15s;
}

.link:active > #copySymbol {
  transform: scale(110%);
}

body{
  background-color: #333;
  color: #fff; /* Textfarbe auf Weiß für bessere Lesbarkeit */
  margin: 0; /* Entfernt den Standardmargin des body-Elements */
  padding: 0; /* Entfernt den Standardpadding des body-Elements */
}
.quiz {
  @apply text-center bg-[rgb(71,85,105)] min-w-[880px]/* Dunkelgrau als Hintergrundfarbe */
}
.start-button {
  @apply cursor-pointer bg-[#4caf50] text-white p-5 mt-3 rounded-lg text-base relative
}

/* Frage-Container */
.question {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 24px; /* Passen Sie die Schriftgröße nach Bedarf an */
}

/* Bild */
img {
  max-width: 1200px;
  max-height: 430px;
  width: auto;
  height: auto;
}

/* Antwortcontainer */
.answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

/* Antwort-Stile */
.answer {
  padding: 10px;
  border: 2px solid #4caf50;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #4caf50;
  color: #fff;
}

.answer:hover {
  background-color: #1c6820;
}

.correct-answer {
  background-color: #33e43c;
}

.wrong-answer {
  background-color: #ff3333;
}

.disabled-answer {
  pointer-events: none;
  opacity: 0.7;
}

/* Ergebnisse-Stile */
.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% der Bildschirmhöhe nutzen */
}

.congratulations {
  font-size: 50px; /* Passen Sie die Schriftgröße nach Bedarf an */
  font-weight: bold;
  color: #4caf50;
}

.results-info {
  margin-top: 10px;
  font-size: 20px; /* Passen Sie die Schriftgröße nach Bedarf an */
}

.next-button {
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  padding: 15px; /* Passen Sie die Polsterung nach Bedarf an */
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  font-size: 20px; /* Passen Sie die Schriftgröße nach Bedarf an */
}

.next-button:hover {
  background-color: #45a049;
}

/* Timer-Stile */
.timer {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
}

/* Stile für den Start-Button */
.start-button:hover {
  background-color: #45a049;
}

.leaderboard {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.leaderboard > div {
  margin-bottom: 8px;
}

/*DevCheck*/
.devButton {
  @apply bg-red-500 cursor-pointer m-1 p-2 rounded-md justify-center
}