body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #004d00, #000000);
  color: #f4f4f4;
  font-family: 'Arial', sans-serif;
}

.quiz, .results {
  text-align: center;
}

.start-button, .next-button, .answer {
  background-color: #00563f;
  color: #ffffff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10; /* Vergrößerter Abstand zwischen den Buttons */
}
.btn{
  background-color: #00563f;
  color: #ffffff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.__next, .chakra-ui-light{
  display: flex;
  justify-content: center; /* Zentriert die Kinder horizontal im Container */
  align-items: center;
}

.start-button:hover, .next-button:hover, .answer:hover, .btn:hover{
  background-color: #004029;
  transform: scale(1.02);
}

.question {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 24px;
  text-shadow: 1px 1px 2px #000;
}

img {
  max-width: 1200px; /* Begrenzte maximale Breite */
  max-height: 600px; /* Begrenzte maximale Höhe */
  width: auto;
  height: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px; /* Vergrößerter Abstand zwischen den Antwortoptionen */
}

.correct-answer {
  background-color: #4cd964;
  border: 3px solid #246f32; /* Dunklerer Grünton für den Rand */
}

.wrong-answer {
  background-color: #ff6b6b;
}

.disabled-answer {
  pointer-events: none;
  opacity: 0.7;
}
.hidden {
  display: none;
}

.results, .leaderboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; /* Um die Elemente voll zu zentrieren */
  background-color: #000000; /* Farbanpassung an die Buttons */
  color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.congratulations, .results-info {
  font-size: 26px;
  color: #ffffff; /* Textfarbe angepasst an die Button-Farbe */
  text-shadow: 1px 1px 2px #000;
}

.timer {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
  text-shadow: 1px 1px 2px #000;
}

@media screen and (max-width: 768px) {
  .container {
    width: 95%;
  }

  .answers {
    grid-template-columns: 1fr;
  }

  .start-button, .next-button, .answer {
    padding: 10px 20px;
  }
}

.logo-container {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.text-2xl {
  font-size: 40px;
}
